
@{
    ViewBag.Title = "Testimonios";
}

<div id="testimonios" class="page">

    <h1 class="page-header remove-margin">
        Testimonios
    </h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Estado</th>
                <th>IP</th>
                <th>Fecha</th>
                <th style="width:400px;">Comentario</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="#">Juan Paredes</a>
                </td>
                <td>
                    <b class="text-warning">Pendiente</b>
                </td>
                <td>192.168.1.54</td>
                <td>2015-02-02</td>
                <td>vewvewvewvewvewv</td>
            </tr>
            <tr>
                <td>
                    <a href="#">Jose Andrade</a>
                </td>
                <td>
                    <b class="text-success">Aprobado</b>
                </td>
                <td>192.168.1.5</td>
                <td>2015-02-02</td>
                <td>evnevnewuivnvuiewvieuwv</td>
            </tr>
            <tr>
                <td>
                    <a href="#">Bravo Maloi</a>
                </td>
                <td>
                    <b class="text-danger">Rechazado</b>
                </td>
                <td>192.168.1.32</td>
                <td>2015-02-02</td>
                <td>cewcewveewvewvewvwev</td>
            </tr>
        </tbody>
    </table>
</div>

