<div class="options-container-fixed">
    <div class="options">
        <div class="row">
            <div class="col-sm-12">
                <a href="#" class="btn btn-danger">
                    <i class="fa fa-file-pdf-o"></i> <span class="hidden-xs hidden-sm">Descargar en PDF</span>
                </a>
                <button class="btn btn-primary">
                    <i class="fa fa-print"></i> <span class="hidden-xs hidden-sm">Imprimir</span>
                </button>
                <button class="btn btn-default" data-toggle="modal" data-target="#mContacto">
                    <i class="fa fa-envelope-o"></i> <span class="hidden-xs hidden-sm">Contactar</span>
                </button>
                <a title="Facebook" class="btn btn-default" href="https://www.facebook.com/jgentilicio" target="_blank"><i class="fa fa-facebook-official"></i></a>
                <a title="Twitter" class="btn btn-default" href="https://www.twitter.com/jgentilicio" target="_blank"><i class="fa fa-twitter"></i></a>
                <a title="Youtube" class="btn btn-default" href="https://www.youtube.com/channel/UCGAQlEmqdB3ijLV077-FepQ?view_as=subscriber" target="_blank"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div id="mContacto" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Contactar</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" placeholder="Su nombre completo" />
                </div>
                <div class="form-group">
                    <label>Correo</label>
                    <input type="text" class="form-control" placeholder="Su nombre completo" />
                </div>
                <div class="form-group">
                    <label>Mensaje</label>
                    <textarea class="form-control" placeholder="Su nombre completo"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary btn-lg">Enviar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->