.title {
    font-family: 'Raleway', sans-serif;
    color: #005199;
    text-align: center;
}

.image {
    border-radius: 10%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 160px;
    height: 200px;
    display: block;
    margin: auto;
}

.personal-data {
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.subtitle {
    font-family: 'Raleway', sans-serif;
    color: #606060;
}

.text {
    font-family: 'Playfair Display', serif;
}
