
@{
    ViewBag.Title = "Index";
}

<h2 class="title title-blue">
    <i class="fa fa-briefcase pull-right"></i>
    Empleos previos
</h2>
<div class="list well well-sm">
    <div class="list-heading">
        Neoris Rosario <small class="list-heading-date">2014-04-02 - ACTUALMENTE</small>
        <span class="list-heading-subtitle">ASP.NET MVC 5 Developer</span>
    </div>
    <div class="list-description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</div>
<div class="list well well-sm">
    <div class="list-heading">
        Apple <small class="list-heading-date">2013-04-02 - 2014-04-02</small>
        <span class="list-heading-subtitle">iOS Developer</span>
    </div>
    <div class="list-description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</div>

<h2 class="title title-yellow">
    <i class="fa fa-line-chart pull-right"></i>
    Habilidades obtenidas
</h2>
<ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="col-lg-2">
                <b>Desarrollo web con ASP.NET MVC 5</b>
            </div>
            <div class="col-lg-10">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 85%"></div>
                </div>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-lg-2">
                <b>Desarrollo web con Node.js</b>
            </div>
            <div class="col-lg-10">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
                </div>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-lg-2">
                <b>Administración de Base de datos con MongoDB</b>
            </div>
            <div class="col-lg-10">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                </div>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-lg-2">
                <b>Administración de bases de datos con SQL Server</b>
            </div>
            <div class="col-lg-10">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
                </div>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-lg-2">
                <b>Frontend con Angular4</b>
            </div>
            <div class="col-lg-10">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
                </div>
            </div>
        </div>
    </li>
</ul>

<h2 class="title title-green">
    <i class="fa fa-university pull-right"></i>
    Estudios realizados
</h2>
<div class="list well well-sm">
    <div class="list-heading">
        Universidad Tecnológica Nacional (FRRo) <small class="list-heading-date">2014-01-01 - ACTUALMENTE</small>
        <span class="list-heading-subtitle">Ingeniería en Sistemas de Información</span>
    </div>
</div>
<div class="list well well-sm">
    <div class="list-heading">
        Instituto Universal Project <small class="list-heading-date">2014-01-01 - ACTUALMENTE</small>
        <span class="list-heading-subtitle">Inglés americano</span>
    </div>
</div>
<div class="list well well-sm">
    <div class="list-heading">
        Udemy <small class="list-heading-date">2014-01-01 - ACTUALMENTE</small>
        <span class="list-heading-subtitle">Desarrollo web con ASP.NET MVC 5</span>
    </div>
</div>

<h2 class="title title-red">
    <i class="fa fa-comment pull-right"></i>
    Testimonios
</h2>

<div class="form-group">
    <label>Nombre</label>
    <input class="form-control" placeholder="Ingresa tu Nombre" />
</div>

<div class="form-group">
    <label>Testimonio</label>
    <textarea class="form-control" placeholder="Ingresa tu testimonio"></textarea>
</div>

<div class="text-right">
    <button class="btn btn-lg btn-primary">
        Enviar
    </button>
</div>

<hr />

<div class="media">
    <div class="media-body">
        <h4 class="media-heading">
            Ana Lucía Malucchi <small>Enviado el 2015-04-14</small>
        </h4>
        <div class="well well-sm">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <h4 class="media-heading">
            Oscar Gentili <small>Enviado el 2015-04-14</small>
        </h4>
        <div class="well well-sm">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
    </div>
</div>
