@{
    Layout = null;
    string controlador = ViewContext.RouteData.Values["Controller"].ToString().ToLower();

    Model.Usuario usuario = new Model.Usuario().getUser(Helper.SessionHelper.GetUser());
}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link href="~/Areas/Admin/Assets/css/admin-style.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Assets/css/bootstrap.theme.min.css" rel="stylesheet" />

    <script src="~/Areas/Admin/Assets/js/jquery.js"></script>
</head>
<body>

    @if (controlador != "login")
    {
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        Portfolio personal
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="~/admin/usuario">Acerca de mí</a>
                        </li>
                        <li>
                            <a href="~/admin/experiencia?tipo=1">Trabajos</a>
                        </li>
                        <li>
                            <a href="~/admin/experiencia?tipo=2">Estudios</a>
                        </li>
                        <li>
                            <a href="~/admin/habilidades">Habilidades</a>
                        </li>
                        <li>
                            <a href="~/admin/testimonios">Testimonios</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <img id="user-pic" src="~/Uploads/@usuario.Foto" />
                                <b>Hola</b>, @usuario.Nombre<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="~/">Ver Portafolio</a>
                                </li>
                                <li>
                                    <a href="~/admin/login/logout">Finalizar Sesión</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    }

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                @RenderBody()
            </div>
        </div>

        <div class="well text-center">
            Portfolio personal
        </div>
    </div>

    <script src="~/Areas/Admin/Assets/js/bootstrap.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/jquery.form.js"></script>

    <script src="~/Areas/Admin/Assets/js/ini.js"></script>

    <script src="~/Areas/Admin/Assets/js/jquery.anexgrid.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/jquery.validate.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
